.title {
    font-size: 30px;
    text-align: center;
}

.button_loan {
    background-color: rgb(92, 204, 135);
}

.button_work {
    background-color: rgb(34, 126, 247);
}

.button_bank {
    background-color: rgb(225, 240, 93);
}

.buttonRepayLoan {
    background-color: rgb(240, 103, 93);
}

.container {
    width:100%;
    height: 400px;
    text-align:center;
}

.infoSection {
    display: inline-block;
    margin-top: -60px;
    border: 1px black solid;
    width:940px;
    height: 300px;
}

.left {
    float:left;
    width:300px;
    height: 300px;
    border: 1px black solid;
}

.middle {
    display: inline-block;
    width:300px;
    height: 300px;
    border: 1px black solid;
}

.right {
    float:right;
    width:300px;
    height:300px;
    border: 1px black solid;
}

.infoSectionLeft {
    float:left;
    width:220px;
    height: 300px;
}

.imageSize {
    
    width: 150px;
    height: 150px;
}


.infoSectionMiddle{
    display: inline-block;
    margin:0 auto;
    width:400px;
    height: 290px;;
}

.infoSectionRight {
    float:right;
    width:299px;
    height:290px;
}

.buyButton {
    margin-top: 70%;
}

.banker_div_title {
    font-size: 30px;
    font-weight: bold;
}

.banker_div_balance {
    font-size: 20px;
}

.banker_div_button {

}

.hide{
    display:none;
}

.show{
    display:block;
}

.floatLeft {
    float:left;
}

.inLine {
    display:contents;
}