.wrapper {
    margin: auto;
    width: 70%;
    border: solid black 1px;
}

#topBanner {
    background-color: black;
    width: 100%;
    height: 50px;
}

.bannerText {
    color: white;
    margin-left: 8%;
    font-size: 15px;
}

#container {
    width:100%;
    text-align:center;
    margin-top: 3%;
}

.container {
    border-radius: 15px;
    width:25%;
    height: 250px;
    border: 1px black solid;
    background-color: rgb(241, 241, 241);
}

#left {
    float:left;
    margin-left: 8%;
    margin-right: 2%;
}

#middle {
    display: inline-block;
}

#right {
    float:right;
    margin-right: 8%;
    margin-left: 2%;
    
}

.leftSide {
    text-align: left;
    position: relative;
    float:left;
    width: 50%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.rightSide {
    text-align: right;
    position: relative;
    float:right;
    margin-right: 2%;
    margin-bottom: 5%;
}

.buttonLoan {
    border-radius: 10px;
    width: 80%;
    margin-top: 17%;
    margin-bottom: 5%;
    background-color: rgb(92, 204, 135);
}
.buttonBank {
    border-radius: 10px;
    width: 80%;
    margin-top: 20%;
    background-color: rgb(225, 240, 93);
}
.buttonWork {
    border-radius: 10px;
    width: 80%;
    margin-top: 3%;
    background-color: rgb(34, 126, 247);
    margin-bottom: 3%;
}

.buttonRepay {
    border-radius: 10px;
    width: 80%;
    background-color: rgb(240, 103, 93);
    margin-bottom: 3%;
}

.computerSelect{
    width: 80%;
}

.infoSection {
    border-radius: 10px;
    display: inline-block;
    margin-top: 0%;
    border: 1px black solid;
    width:84%;
    background-color: rgb(241, 241, 241);
}

.infoSectionLeft {
    float:left;
    width:20%;
}

.specFontSize {
    font-size: 12px;
    text-align: left;
}

.infoSectionMiddle{
    display: inline-block;
    margin:0 auto;
    width:40%
}

.infoSectionRight {
    float:right;
    width:30%
}

.imageSize {
    margin-top: 10%;
    margin-left: 10%;
    width: 100%;
}

.computerCost {
    margin-top: 15%;
}
.buyButton {
    border-radius: 10px;
    margin-top: 15%;
    margin-bottom: 20%;
    width: 50%;
    background-color: rgb(149, 188, 240);
}

.titles {
    font-size: 20px;
    display:inline-block; 
    vertical-align: middle;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.floatLeft {
    float:left;
}

.inLine {
    content: "\A";
}

.textLeft {
    text-align: left;
}